*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
li a:hover
  color: $primary
  border-bottom: 1px solid $secondary
  text-decoration: none
  transition: color 0.5s
.button
  &:hover
    box-shadow: 0 4px 10px $secondary
    background-color: #F45C79
    transition: opacity 0.3s ease-in-out
a.footer__link > img
  &:hover
    box-shadow: 0 4px 10px $secondary
    border-radius: 50%
 
.container
  max-width: 1110px
  margin: auto

img
  max-width: 100%
.booking
  font-family: 'Nunito', sans-serif
.input
  padding: 18px 0 18px 23px
  height: 50px
  font-size: 12px
  line-height: 15px
  background-color: $light
  color: $footer-text-color
  border-radius: 4px
  border: none
  outline: none
.message
  font-size: 12px
  line-height: 15px      
  color: $footer-text-color
  background-color: $light
  padding: 18px 23px
  border-radius: 4px
  border: none
  height: 123px
  resize: none
  outline: none
.button
  background: $primary
  border-radius: 4px
  border: none
  cursor: pointer
  color: $light
.invalid
  color: $primary  
label.invalid
  position: absolute  
  left: 0
  top: -22px
  z-index: 999
  width: 100%
  padding: 6px
  border: 2px solid #ccc
  border-radius: 5px
  background-color: $footer-text-color
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset
  &::after
    content: ""
    position: absolute
    left: 15px
    bottom: -5px
    background-color: $footer-text-color
    width: 10px
    height: 10px
    transform: rotate(45deg)

    