.hotel
  padding-top: 16px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

    
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    max-width: 352px

  &-name
    font-weight: bold
    font-size: 24px
    line-height: 30px
    margin-top: 3px
    margin-bottom: 0
    color: $text-color
.stars
  flex-basis: 100%
.offer
  padding: 4px 9px
  font-size: 10px
  line-height: 13px
  color: $light
  background-color: $primary
  border-radius: 3px
.description
  margin: 0
  font-size: 12px
  line-height: 15px
.rating
  max-width: 65px
  min-height: 45px
  padding-top: 9px
  padding-bottom: 6px
  background: $primary
  border-radius: 4px
  color: $light
  text-align: center
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
    &--small
      font-size: 10px     
      line-height: 13px

