.reviews
  padding-top: 40px
  padding-bottom: 70px
  &-title
    margin-top: 0
    margin-bottom: 115px
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-slider
    &__item
    &__profile
      display: flex
      flex-direction: column
      align-items: center
    &__avatar
      width: 90px
      height: 90px
      border-radius: 50%
      object-fit: cover
      margin-bottom: 9px
    &__username
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      color: $primary
      margin-bottom: 10px
    &__date
      font-weight: normal
      font-size: 10px
      line-height: 13px
      margin-bottom: 5px
